<h2>Lista de nomes</h2>

<p>Total de nomes: {{ nomes.length }}</p>

<p *ngIf="nomes.length === 0">Nenhum nome cadastrado</p>

<ul *ngIf="nomes.length > 0">
  <li *ngFor="let pessoa of nomes; let i = index; let primeiro = first; let ultimo = last">

    {{ i + 1 }} - {{ pessoa.nome }}

    <strong *ngIf="primeiro"> - Primeiro da lista</strong>
    <strong *ngIf="ultimo"> - Último da lista</strong>

  </li>
</ul>

<button (click)="removerNomes()">
Remover último </button>

<button (click)="limparNomes()">
Limpar lista </button>

<button (click)="restaurarNomes()">
Restaurar lista </button>
